@using SFA.DAS.Employer.PR.Web.Models.Requests
@using SFA.DAS.Employer.PR.Domain.Models

@model EmployerAccountCreationViewModel
﻿@{
    ViewBag.Title = "Create your apprenticeship service account";
}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <div class="govuk-form-group">
            <h1 class="govuk-heading-l">
                Create your apprenticeship service account
            </h1>
            <p class="govuk-body">
                You'll need to check the details and permissions @Model.ProviderName added, and read and accept your
                employer agreement.
                Once you've done this, select <strong>Create account</strong> to finish creating your apprenticeship
                service account.
            </p>
            <p class="govuk-body">
                If the employer details or permissions are not correct, select <strong>Do not create account</strong>.
            </p>
        </div>
        <div class="govuk-form-group">
            <h2 class="govuk-heading-m">
                Check your details
            </h2>
            <p class="govuk-body">
                Employer details have been checked with HMRC records. Select <strong>Change name</strong> if your name
                is spelled incorrectly or you want to be known by a different name on the Apprenticeship service.
            </p>
            <dl class="govuk-summary-list">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Full name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerContactFirstName @Model.EmployerContactLastName
                    </dd>
                    <dd class="govuk-summary-list__actions">
                        <a class="govuk-link" href="@Model.ChangeNameLink">Change name</a>
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Employer name
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerOrganisationName
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Employer PAYE reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerPAYE
                    </dd>
                </div>
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key">
                        Accounts office reference
                    </dt>
                    <dd class="govuk-summary-list__value">
                        @Model.EmployerAORN
                    </dd>
                </div>
            </dl>
        </div>

        <div class="govuk-form-group">
            <h2 class="govuk-heading-m">
                Check training provider and permissions
            </h2>
            <p class="govuk-body">
                Creating your account will add @Model.ProviderName as a training provider.
            </p>
            <p class="govuk-body">
                @Model.ProviderName has selected the following permissions, which allow them to do certain actions on
                your behalf:
            <ul class="govuk-list govuk-list--bullet">
                @foreach (var operation in Model.OperationDescriptions)
                    {
                    <li>@operation</li>
                    }
            </ul>
            </p>
            <p class="govuk-body">
                They should have confirmed these with you before sending the request to create an account. You'll be
                able to change their permissions at any time in your account.
            </p>
            <details class="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        View more detail on permissions and how they work
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <p class="govuk-body">
                        Permissions refer to what a training provider can do on your behalf.
                    </p>
                    <p class="govuk-body">
                        There are 2 training provider permissions in the Apprenticeship service:
                    </p>
                    <p class="govuk-body">
                    <ul class="govuk-list govuk-list--bullet">
                        <li><strong>Add apprentice records</strong> means the training provider can add details about
                            new apprentices and reserve funding for them if needed. Apprentice records will not be added
                            to your account until you approve them.</li>
                        <li><strong>Recruit apprentices</strong> means the training provider can advertise
                            apprenticeships and review applications.</li>
                    </ul>
                    </p>
                    <p class="govuk-body">
                        You’ll be emailed when you need to approve any apprentice records or adverts.
                    </p>
                    <p class="govuk-body">
                        You can change training provider permissions at any time from your account.
                    </p>
                </div>
            </details>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />
            <h2 class="govuk-heading-m">
                Accept the employer agreement and create your account
            </h2>
            <p class="govuk-body">
                You must read the <a class="govuk-link" href="#">employer agreement between you and the Department for
                    Education</a>
            </p>

            <div class="govuk-warning-text">
                <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                <strong class="govuk-warning-text__text">
                    <span class="govuk-visually-hidden">Warning</span>
                    The agreement is legally binding. If @Model.EmployerOrganisationName breaches the terms, we could
                    stop them hiring apprentices, claim back funding or close their account.
                </strong>
            </div>
            <form method="post">
                <input asp-for="EmployerContactFirstName" id="employerContactFirstName" type="hidden" />
                <input asp-for="EmployerContactLastName" id="employerContactLastName" type="hidden" />
                <div esfa-validation-marker-for="@Model.HasAcceptedTerms" class="govuk-form-group">
                    <span asp-validation-for="HasAcceptedTerms" class="govuk-error-message"></span>

                    <div class="das-highlight">
                        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                            <div class="govuk-checkboxes__item">
                                <input class="govuk-checkboxes__input" asp-for="HasAcceptedTerms" id="HasAcceptedTerms"
                                    name="HasAcceptedTerms" type="checkbox" value="true">
                                <label class="govuk-label govuk-checkboxes__label" for="HasAcceptedTerms">
                                    By accepting, you confirm @Model.EmployerOrganisationName agrees to the terms and conditions and
                                    is entering into a legally binding agreement with the Department for Education
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="govuk-button-group">
                    <button type="submit" class="govuk-button" data-module="govuk-button">
                        Create account
                    </button>
                    <button type="button" class="govuk-button govuk-button--secondary" data-module="govuk-button">
                        Do not create an account
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
