@model YourTrainingProvidersViewModel
@{
    ViewData["Title"] = "Manage training providers";
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        @if (Model.ShowPermissionsUpdatedBanner())
        {
            <div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
                <div class="govuk-notification-banner__header">
                    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title" aria-live="polite">
                        Success
                    </h2>
                </div>
                <div class="govuk-notification-banner__content">
                    <h3 class="govuk-notification-banner__heading">
                        @Model.PermissionsUpdatedForProviderText
                    </h3>
                    <p class="govuk-body">We've emailed @Model?.PermissionsUpdatedForProvider?.ToUpper() to let them know.</p>
                </div>
            </div>
        }

        <form action="@Model!.AddTrainingProviderUrl" method="GET">
            <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                Manage training providers
            </h1>
            <p class="govuk-body govuk-!-font-size-19">
                View your training providers and the permissions you currently have with them. Accept or decline permissions requests from training providers, or change their permissions yourself. You can also add a new training provider.
            </p>
            @if (@Model!.IsOwner)
            {
                <details class="govuk-details">
                    <summary class="govuk-details__summary">
                        <span class="govuk-details__summary-text">
                            View details about permissions and how they work
                        </span>
                    </summary>
                    <div class="govuk-details__text" id="details-content-0" aria-hidden="false">
                        <p class="govuk-body">
                            Permissions refer to what a training provider can do on your behalf.
                        </p>
                        <p class="govuk-body">
                            There are 2 training provider permissions in the Apprenticeship service:
                            <ul class="govuk-list govuk-list--bullet">
                                <li><strong>Add apprentice records</strong> means the training provider can add details of new apprentices and reserve funding for them if needed. Apprentice records will not be added to your account until you approve them.</li>

                                <li><strong>Recruit apprentices</strong> means the training provider can advertise apprenticeships and review applications. You can choose to approve adverts before they’re published.</li>
                            </ul>
                        </p>
                        <p class="govuk-body">
                            You’ll be emailed when you need to approve any records or adverts.
                        </p>
                        <p class="govuk-body">
                            You can change training provider permissions at any time from your account.
                        </p>
                    </div>
                </details>
                <div class="govuk-button-group">
                    <button type="submit" id="continue" class="govuk-button" data-disable-on-submit="true">Add a training provider</button>
                </div>
            }
        </form>
    </div>
</div>
<div class="govuk-grid-column">
    @foreach (var ale in Model.LegalEntities)
    {
        <div class="govuk-grid-column govuk-!-margin-bottom-5">
            <h2 class="govuk-heading-l govuk-!-margin-bottom-1 govuk-!-margin-top-2">@ale.Name.ToUpper()</h2>
            <p class="govuk-!-font-size-16">Agreement ID: @ale.LegalEntityPublicHashedId</p>
        </div>

        <table class="govuk-table">
            <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header govuk-!-width-one-third">Training provider</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Permission to add apprentice records</th>
                    <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Permission to recruit apprentices</th>
                    @if (@Model.IsOwner)
                    {
                        <th scope="col" class="govuk-table__header">Permissions</th>
                    }
                </tr>
            </thead>
            <tbody class="govuk-table__body">
                @foreach (var permissionDetails in ale.PermissionDetails)
                {
                    @if (@Model.IsOwner && permissionDetails.HasOutstandingRequest)
                    {
                        <tr class="govuk-table__row">
                            <td scope="row" class="govuk-table__cell govuk-!-padding-bottom-0 govuk-!-padding-top-3 border-bottom-override" colspan="4">
                                <strong class="govuk-tag govuk-tag--orange">
                                    Request pending
                                </strong>
                            </td>
                        </tr>
                    }
                    <tr class="govuk-table__row">
                        <td headers="training-provider" class="govuk-table__cell govuk-!-padding-bottom-4">@permissionDetails.ProviderName.ToUpper()</td>
                        <td headers="add-records" class="govuk-table__cell govuk-!-padding-bottom-4">@permissionDetails.PermissionToAddRecords</td>
                        <td headers="recruit-apprentices" class="govuk-table__cell govuk-!-padding-bottom-4">@permissionDetails.PermissionToRecruitApprentices</td>
                        @if (@Model.IsOwner)
                        {
                            <td headers="permissions" class="govuk-table__cell"><a class="govuk-link" href="@permissionDetails.ActionLink">@permissionDetails.ActionLinkText</a></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
</div>