@using SFA.DAS.Employer.PR.Web.Infrastructure
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SFA.DAS.Employer.PR.Web.Constants
@using SFA.DAS.Employer.PR.Web.TagHelpers
@model SetPermissionsViewModel
@{
    ViewData["Title"] = "select permissions";
}
@section breadcrumb {
    <a href="@Model.BackLink" class="govuk-back-link">Back</a>
}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <partial name="_validationSummary" />
        <form asp-route="@RouteNames.SetPermissions" method="POST">
            <div class="govuk-form-group">
                <fieldset class="govuk-fieldset">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                        <h1 class="govuk-fieldset__heading">
                            Add @Model.ProviderName.ToUpper() and set permissions
                        </h1>
                    </legend>
                    <p class="govuk-body">
                        The details you entered are for @Model.ProviderName.ToUpper() (UKPRN @Model.Ukprn). Select what permissions you  want this training provider to have for @Model.LegalName.ToUpper(). You can change these permissions at any time. 
                    </p>
                    <br/><br/>
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Add apprentice records
                    </legend>
                    <div id="addRecords-hint" class="govuk-hint">
                        Training provider can add apprentice records. If you do not pay the levy (you have an annual pay bill of under £3 million), training provider can also reserve funding for your apprentices. 
                    </div>
                    <div esfa-validation-marker-for="@Model.AddRecords" class="govuk-form-group">
                        <span asp-validation-for="AddRecords" class="govuk-error-message"></span>
                        <div class="govuk-radios" id="AddRecords" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input asp-for="AddRecords" class="govuk-radios__input" id="addRecords-1"  type="radio" value="@SetPermissions.AddRecords.Yes">
                                <label class="govuk-label govuk-radios__label" for="addRecords-1">
                                    Yes, but I want final review of apprentice records
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input asp-for="AddRecords" class="govuk-radios__input" id="addRecords-2"  type="radio" value="@SetPermissions.AddRecords.No">
                                <label class="govuk-label govuk-radios__label" for="addRecords-2">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                        Recruit apprentices
                    </legend>
                    <div id="recruitApprentices-hint" class="govuk-hint">
                        Training provider can advertise apprenticeships and review applications on
                    </div>
                    <div esfa-validation-marker-for="@Model.RecruitApprentices" class="govuk-form-group">
                        <span asp-validation-for="RecruitApprentices" class="govuk-error-message"></span>
                        <div class="govuk-radios" id="RecruitApprentices" data-module="govuk-radios">
                            <div class="govuk-radios__item">
                                <input asp-for="RecruitApprentices" class="govuk-radios__input" id="recruitApprentices-1" type="radio" value="@SetPermissions.RecruitApprentices.Yes">
                                <label class="govuk-label govuk-radios__label" for="recruitApprentices-1">
                                    Yes
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input asp-for="RecruitApprentices" class="govuk-radios__input" id="recruitApprentices-2" type="radio" value="@SetPermissions.RecruitApprentices.YesWithReview">
                                <label class="govuk-label govuk-radios__label" for="recruitApprentices-2">
                                    Yes, but I want to review adverts before they're advertised
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input asp-for="RecruitApprentices" class="govuk-radios__input" id="recruitApprentices-3" type="radio" value="@SetPermissions.RecruitApprentices.No">
                                <label class="govuk-label govuk-radios__label" for="recruitApprentices-3">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="govuk-button-group">
                <button type="submit" id="continue" class="govuk-button" data-disable-on-submit="true">Confirm</button>
                <a class="govuk-link" href="@Model.CancelLink">Cancel</a>
            </div>
        </form>
    </div>
</div>